# $XTermId: uxterm.desktop,v 1.6 2007/12/30 15:09:12 tom Exp $
[Desktop Entry]
Name=UXTerm
Comment=standard terminal emulator for the X window system
Exec=uxterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color_48x48
Categories=System;
