# $XTermId: xterm.desktop,v 1.7 2007/12/30 15:09:12 tom Exp $
[Desktop Entry]
Name=XTerm
Comment=standard terminal emulator for the X window system
Exec=xterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color_48x48
Categories=System;
