# $XTermId: xterm.desktop,v 1.6 2007/06/17 00:55:01 tom Exp $
[Desktop Entry]
Name=XTerm
Comment=standard terminal emulator for the X window system
Exec=xterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color_48x48.xpm
Categories=System;
