#     $OpenBSD: BSD.x11.dist,v 1.3 2006/11/29 21:50:18 matthieu Exp $
#     $FreeBSD: BSD.x11.dist,v 1.2 1997/06/10 07:55:10 asami Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    include
	GL
	..
        X11
            ICE
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
	    Xcursor
	    ..
	    Xft
	    ..
            Xmu
	    ..
	    XprintAppUtil
	    ..
	    XprintUtil
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
            ..
            pixmaps
            ..
        ..
	fontconfig
	..
	freetype2
	    freetype
		config
		..
		internal
		    services
		    ..
		..
	    ..
	..
    ..
    lib
        X11
            app-defaults
	    ..
            config
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                misc
                ..
            ..
	    fvwm
	    ..
            locale
                C
                ..
                en_US.utf
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                zh
                ..
                zh_TW
                ..
            ..
            proxymngr
            ..
            x11perfcomp
            ..
            xserver
            ..
        ..
	modules
	    drivers
	    ..
	    extensions
	    ..
	    fonts
	    ..
	    input
	    ..
	    linux
	    ..
	    multimedia
	    ..
	..
	pkgconfig
	..
    ..
    man
        cat1
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat7
        ..
        man1
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man7
        ..
    ..
    share
	X11
	..
	aclocal
	..
	mk
	..
    ..
..
