#     $OpenBSD: BSD.etc-x11.dist,v 1.4 2006/12/18 22:38:54 matthieu Exp $

/set type=dir uname=root gname=wheel mode=0755
.
  app-defaults
  ..
  fs
  ..
  lbxproxy
  ..
  proxymngr
  ..
  rstart
    commands
      x11r6
      ..
    ..
    contexts
    ..
  ..
  twm
  ..
  xdm
  ..
  xinit
  ..
  xkb
       compat
       ..
       compiled
       ..
       geometry
           digital
           ..
           sgi
           ..
       ..
       keycodes
           digital
           ..
           sgi
           ..
       ..
       keymap
           digital
           ..
           sgi
           ..
           sun
           ..
       ..
       rules
       ..
       semantics
       ..
       symbols
           digital
           ..
           fujitsu
           ..
           nec
           ..
           sony
           ..
           sun
           ..
       ..
   ..
   xsm
   ..
..
