#     $OpenBSD: BSD.x11.dist,v 1.2 2006/11/27 19:16:59 matthieu Exp $
#     $FreeBSD: BSD.x11.dist,v 1.2 1997/06/10 07:55:10 asami Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    include
	GL
	..
        X11
            ICE
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
	    Xcursor
	    ..
	    Xft
	    ..
            Xmu
	    ..
	    XprintAppUtil
	    ..
	    XprintUtil
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
            ..
            pixmaps
            ..
        ..
	fontconfig
	..
	freetype2
	    freetype
		cache
		..
		config
		..
		internal
		    services
		    ..
		..
	    ..
	..
    ..
    info
    ..
    lib
        X11
            app-defaults
	    ..
            config
            ..
            doc
            ..
            etc
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                misc
                ..
            ..
            fs
            ..
	    fvwm
	    ..
            lbxproxy
            ..
            locale
                C
                ..
                en_US.utf
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                zh
                ..
                zh_TW
                ..
            ..
            proxymngr
            ..
            rstart
                commands
                    x11r6
                    ..
                ..
                contexts
                ..
            ..
            twm
            ..
            x11perfcomp
            ..
            xdm
            ..
            xinit
            ..
            xkb
                compat
                ..
                compiled
                ..
                geometry
                    digital
                    ..
                    sgi
                    ..
                ..
                keycodes
                    digital
                    ..
                    sgi
                    ..
                ..
                keymap
                    digital
                    ..
                    sgi
                    ..
                    sun
                    ..
                ..
                rules
                ..
                semantics
                ..
                symbols
                    digital
                    ..
                    fujitsu
                    ..
                    nec
                    ..
                    sony
                    ..
                    sun
                    ..
                ..
	    ..
            xserver
            ..
            xsm
            ..
        ..
	modules
	    drivers
	    ..
	    extensions
	    ..
	    fonts
	    ..
	    input
	    ..
	    linux
	    ..
	    multimedia
	    ..
	..
	pkgconfig
	..
    ..
    man
        cat1
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat7
        ..
        cat8
        ..
        man1
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man7
        ..
        man8
        ..
    ..
    share
	X11
	..
	aclocal
	..
	mk
	..
    ..
..


